<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
</head>

<body>
  <div class="d-flex align-items-center">
    <div>
      <h1>
        <%= title %>
      </h1>
      <p>Welcome to
        <%= title %>
      </p>
    </div>
    <% if(user){ %>
    <button class="btn btn-danger" onclick="window.location.href='/logout'">Log out</button>

      <%} else { %>
    <button class="btn btn-primary mr-5" onclick="window.location.href='/signin'">Log in</button>
    <button class="btn btn-primary" onclick="window.location.href='/signup'">Register </button>
    <%} %>
    <% if(message.length != 0){ %>
    <div class="alert alert-success"><%= message[message.length -1] %></div>
    <%} %>
  
  </div>

  <div class="container">
    <div class="jumbotron">


      <div class="row">
        <div class="col-lg-6 ">
          <button class="btn btn-primary btn-block mb-5" onclick="window.location.href='/user'">Xem User</button>
          <button class="btn btn-success" onclick="window.location.href='/adduser'">Them User</button>
        </div>
        <hr>

        <div class="col-lg-6">
          <button class="btn btn-primary  btn-block mb-5" onclick="window.location.href='/article'">Xem Article</button>
          <button class="btn btn-success" onclick="window.location.href='/addarticle'" >Them Article</button>

        </div>

      </div>


    </div>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
</body>

</html>